
*{
    margin: 0;
    padding: 0;
}
.flax{
    display: flex;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}


.center-align{
    align-items: center;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
header{
    background-color: rgba(229, 84, 115, 0.10);

}
section .banner-image img{
    height: 800px;
    margin-top: 50px;
    margin-bottom: -4px;
}
section .banner-text h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    width: 708px;
    font-size: 80px;
    margin-bottom: 10px;
    color: #272727;
}
section .banner-text p{
    width: 634px;
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    padding: 30px 0;
    
}
/* Button */
.primary-btn{
    padding: 20px 43px;
    background-color: #dd4062;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Lato', sans-serif;
}
.primary-btn:hover{
    background-color: #272727;
    cursor: pointer;
    
}
/* head-title */
main section .head-title{
    text-align: center;
    margin-top: 130px;
}
main section .head-title h2{
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
main section .head-title p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
    width: 594px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.all-flowers{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
/* pink-flower */
.pink-flower div{
    width: 446px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-flower div img{
    margin-bottom: -110px;
}
.pink-flower h6{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    padding-top: 10px;   
}
.pink-flower{
    text-align: center;
    width: 446px;
}
/* buffet */
.flower-buffet{
    text-align: center;
    width: 446px;
}
.flower-buffet div{
    width: 446px;
    height: 538px;
    background-color: rgba(39, 161, 167, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.flower-buffet h6{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    padding-top: 10px;
}
.flower-buffet div img{
    margin-bottom: -110px;
}
/* yellow-flower */
.yellow-flower{
    text-align: center;
    width: 446px;
}
.yellow-flower div{
    width: 446px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.yellow-flower h6{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    padding-top: 10px;
    text-align: center;
}
.yellow-flower div img{
    margin-bottom: -68px;
}
/* Hot Deal section */
.hot-deal{
    background-color: #E554730D;
    margin-top: 128px;
    text-align: center;
    height: 620px;
}
.deal-image img{
    height: 400px;
    padding: 120px 0;
    margin-left: 50px;
}
section .deal-text{
    margin-right: 50px;
}
section .deal-text h2{
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
section .deal-text h2 span{
    color: #E55473;
}
section .deal-text p{
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0  30px 0;
}
/* instagram flower option */
.flowers-option{
    padding-left: 30px;
    margin-left: 15px;
    margin-bottom: 110px;
}
section .flowers-option > img{
    width: 320px;
   margin-right: 22px;
}
/* Subscribe */
.latest-deals{
    background: url('../Flower Asset/Rectangle 9.png') no-repeat;
    height: 449px;
    padding-bottom: 128px;
}
.subscribe input{
    margin-right: 16px;
    width: 700px;
    height: 64px;
    border: none;
    border-radius: 8px;
}
.subscribe input[type="email"]{
    padding-left: 25px;
}
.subscribe input::placeholder{
    padding-left: 15px;
    color: #73727266;
}
section .latest-deals div{
    padding-top: 1px;
}
/* footer */
footer{
    background-color: #111010;
    width: 1922px;
    height: 449px;
    display: flex;
    align-items: center;  
    
}
footer div h2{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 24px;
}
footer div span{
    color: #E55473;
}
footer div p{
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 32px;
}
footer div .copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
footer div .container{
    margin-left: 10%;
}
section .feed-background{
    height: 449px;
    padding-bottom: 50px;
}
section div .inpu input{
    width: 500px;
    height: 60px;
    margin-right: 15px;
    border: none;
    border-radius: 10px;

}
.feedback .head-title span{
    color: #E55473;
}
section div .inpu input#name{
    margin-bottom: 20px;

}
section div .inpu input::placeholder{
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    color: #73727266;
}
section div input[type="text"]{
    padding-left: 20px;

}
section div textarea{
    border: none;
    height: 140px;
    width: 603px;
    border-radius: 10px;
}
section div textarea::placeholder{
    padding: 10px 0 0 10px;
    font-family: 'Lato', sans-serif;
    color: #73727266;

}
section div textarea[type="text"]{
    padding-left: 20px;
    padding-top: 20px;
}
.feedback{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ECF0F1;
    height: 600px;
}
.feed-background{
    text-align: center; 
}
.feed-background button{
    margin-top: 30px;
}